  @font-face {
    font-family: oceansansstd-boldext;
    src: url("../font/oceansansstd-boldext.otf");
  }

  @font-face {
    font-family: oceansansstd-boldsemiextita;
    src: url("../font/oceansansstd-boldsemiextita.otf");
  }

  @font-face {
    font-family: OceanSansStd-Semibold;
    src: url("../font/OceanSansStd-Semibold.otf");
  }

  @font-face {
    font-family: Calibri;
    src: url("../font/calibri.otf");
  }

  .header-default {
  	background-color:#38504d; 
    width: 100%;
    height: 600px;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;   
  }

  #backgrouundStyle {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    background-position: center top;
    overflow-x: hidden;
    overflow-y: auto; 
  }

  .JooKoon {
    background-image: url("../image/1_JooKoon.jpg");
  }

  .BoonLay {
    background-image: url("../image/2_BoonLay.jpg");
  }

  .Clementi {
    background-image: url("../image/4_Clementi.jpg");
  }

  .BuonaVista {
    background-image: url("../image/5_BuonaVista.jpg");
  }

  .Qeenstown {
    background-image: url("../image/6_Qeenstown.jpg");
  }

  .SingaporeCity {
    background-image: url("../image/7_SingaporeCity.jpg");
  }

  .PayaLebar {
    background-image: url("../image/8_PayaLebar.jpg");
  }

  .Eunos {
    background-image: url("../image/9_Eunos.jpg");
  }

  .Bedok {
    background-image: url("../image/10_Bedok.jpg");
  }

  .Changi {
    background-image: url("../image/11_Changi.jpg");
  }

  .Tampines {
    background-image: url("../image/12_Tampines.jpg");
  }

  .LittleIndia {
    background-image: url("../image/13_LittleIndia.jpg");
  }

  .ChinaTown {
    background-image: url("../image/14_ChinaTown.jpg");
  }

  .BoonKeng {
    background-image: url("../image/15_BoonKeng.jpg");
  }

  .Serangoon {
    background-image: url("../image/16_Serangoon.jpg");
  }

  .Hougang {
    background-image: url("../image/17_Hougang.jpg");
  }

  .Punggol {
    background-image: url("../image/18_Punggol.jpg");
  }
  
  .TohPayoh {
    background-image: url("../image/19_TohPayoh.jpg");
  }

  .Bishan {
    background-image: url("../image/20_Bishan.jpg");
  }

  .AngMoKio {
    background-image: url("../image/21_AngMoKio.jpg");
  }

  .Yishun {
    background-image: url("../image/22_Yishun.jpg");
  }
  
  .NorthSingapore {
    background-image: url("../image/23_NorthSingapore.jpg");
  }

  .Woodlands {
    background-image: url("../image/24_Woodlands.jpg");
  }

  .NorthWestSingapore {
    background-image: url("../image/25_NorthWestSingapore.jpg");
  }

  .UpperBukitTimah {
    background-image: url("../image/26_UpperBukitTimah.jpg");
  }
  
  .BotanicGarden {
    background-image: url("../image/27_BotanicGarden.jpg");
  }

  .WestCoast {
    background-image: url("../image/28_WestCoast.jpg");
  }

  .navbar {
  	margin-bottom: 0;
  	border-radius: 0;
    background-color: rgba(0,89,106,1);
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
  	color:#dddddd;
  	font-family: 'Calibri','Arial';
    font-size: 1.2em;
  	border: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .navbar-inverse .navbar-nav li a {
    padding-right: 8px;
    color: #dddddd;
  }

  .navbar-inverse .navbar-nav .active a, 
  .navbar-inverse .navbar-nav .active a:focus, 
  .navbar-inverse .navbar-nav .active a:hover {
  	color:#ffffff;
  }

  .navbar-inverse .navbar-toggle {
    border:none;
  }

  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255,255,255,0.15);
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #dddddd;
  }

  .inline {
    display: inline-block;
  }

  .headerCentral {
    width: 100%;
    position: absolute;
    margin: 0;
    height: 100%;
    line-height: 50px;
    text-align: center;
  }

  .centralButton {
    color:#dddddd;
    font-size: 1em;
  }

  .centralButton:hover {
    color:rgba(255,255,255,1);
    cursor: pointer;
  }


  .aboutText {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.3);
    color: white;
  }

  .greetingTopic {
    color: white;
    text-align: center;
    font-family: 'Calibri','Arial';
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
  }

  .greetingHr {
    margin: 9px auto 5px auto; 
    width: 100%; 
    border-color:rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.3);
  }

  .greetingContent {
    color: white;
    text-align: center;
    font-family: 'Calibri','Arial';
    font-size: 23px;
    line-height: 23px;
    margin:0;
  } 

  .regularContent {
    color: white;
    background-color: rgba(0,0,0,0.55);
    text-align: left;
    font-family: 'Calibri','Arial';
    font-size: 18px;
    line-height: 26px;
    padding: 30px;
    margin:0;
  } 

  .busStopMajorBlockStyle {
    height:38px;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius:6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
  }

  .busStopNumberStyle {
    display: inline-block;
    margin: 0;
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: 'OceanSansStd-Semibold','Arial';
    font-size: 20px;
    line-height: 40px;
    background-color: #0cb7d7;
    border-radius: 6px 0 0 6px;
  }

  .busStopNameStyle {
    display: inline-block;
    margin: 0;
    width: 75%;
    height: 100%;
    text-align: left;
    padding-left: 8px;
    color: #054f5e;
    font-family: 'OceanSansStd-Semibold','Arial';
    font-size: 19px;
    line-height: 40px;
    background-color: #dfe9dc;
    float: right;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
  }

  .busStopSearchStyle {
    width: 100%;
    height: 110px;
    text-align: center;
    color:white;
    font-family: 'Calibri','Arial';
    font-size: 23px;
    font-weight: bold;
    background-color: rgba(0,89,106,1);
    padding:10px 0 10px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
  }

  #busStopSearchBlankStyle {
    display: inline-block;
    width: 35%;
    height: 20px; 
    margin: 10px 10px 0 0;
  }

  #busStopSearchButtonStyle {
    display: inline-block;
    width: 15%;
    background-color:#fd3929;
    font-size: 17px;
    padding: 6px 0;
    height: 38px; 
  }

  .busTimingInfoMajorBlockStyle {
    width: 100%;
    height: 100px;
    margin: 0 auto 26px auto;
    border-radius:6px;
    background-color: #b2d229;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    overflow: hidden;
  }

  .busNumberStyle {
    display: inline;
    flex: left;
    color:#25161a;
    font-family: 'OceanSansStd-Semibold','Arial';
    font-size: 24px;
    line-height: 25px;
    margin:4px 0 4px 8px;
  }

  .busOperatorStyle {
    display: inline;
    color:#25161a;
    font-family: 'OceanSansStd-Semibold','Arial';
    font-size: 15px;
    line-height: 23px;
    margin:5px 5px 5px 0;
    float: right;
  }

  .busTimingInfoSubBlockStyle {
    background-color: #e8eae5;
    width: 99%;
    height: 75px;
    margin-left: 1%;
    position: relative;
  }

  .leftArrowDivStyle {
    margin: 0;
    padding:0;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    font-size: 200px;
  }

  .leftArrowStyle{
    display: inline-block;
    color: rgba(178, 210, 41, 0.2);
    font-size: 210px;
    position: absolute;
    left:22%;
    bottom: -90%;
  }

  .busBlockMajorStyle {
    margin: 0;
    padding:0;
    display: inline-block;
    text-align: center;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    width: 8.90%;
    height: 75px;
    position: absolute;
    top:0;
    z-index: 1;
  }

  .red {
    color: #eb0818;
  }

  .orange {
    color: #e09719;
  }

  .green {
    color:#19993a;
  }

  .redsingle {
    background-image: url("../image/redsingle.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .reddouble {
    background-image: url("../image/reddouble.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%; 
  }

  .redbendy {
    background-image: url("../image/redbendy.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .orangesingle {
    background-image: url("../image/orangesingle.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .orangedouble {
    background-image: url("../image/orangedouble.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .orangebendy {
    background-image: url("../image/orangebendy.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .greensingle {
    background-image: url("../image/greensingle.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .greendouble {
    background-image: url("../image/greendouble.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .greenbendy {
    background-image: url("../image/greenbendy.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 52%; 
  }

  .arr{
    letter-spacing: -3px;
    left:0.15%;
  }

  .min1{
    left:9.15%;
  }

  .min2{
    left:18.15%;
  }

  .min3{
    left:27.15%;
  }

  .min4{
    left:36.15%;
  }

  .min5{
    left:45.15%;
  }

  .min6{
    left:54.15%;
  }

  .min7{
    left:63.15%;
  }

  .min8{
    left:72.15%;
  }

  .min9{
    left:81.15%;
  }

  .min10{
    left:90.15%;
    background-color: #e8eae5;
  }

  .noMore{
    position: absolute;
    top:0;
    margin:0 auto;
    padding-top: 22px;
    width: 100%;
    height: 72px;
    text-align: center;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: #c5c8bc;
    z-index: 0;
  }

  .wheelchairIconStyle{
    font-size: 0.63em;
    margin: 28px auto 0 auto;
  }

  #backHomeButtonStyle {
    border: none;
    width: 180px;
    background-color:#fd3929;
    color:#ffffff;
    font-family: 'OceanSansStd-Semibold','Arial';
    font-size: 17px;
    /*line-height: 25px;*/
    padding:7px 0;
    height: 38px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
  }

  .bottomText {
    width: 100%;
    text-align: center;
    color:#ffffff;
    font-family: 'Calibri','Arial';
    font-size: 16px;
    line-height: 20px; 
  }

  .link {
    color: #ffffff;
  }

  .profilePicture{
    width: 100%;
  }

  .loadingStyle {
    text-align: center;
    margin: 10px auto 30px auto;
  }

  .spinnerStyle {
    font-size:18px;
    color: white;
    margin: 15px auto;
  }

  .animateFadeIn{
    animation:fadeIn 0.3s
  }
  @keyframes fadeIn{
    0%{opacity:0}100%{opacity:1}
  }

  @media (max-width: 600px) {
    .busBlockMajorStyle {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -2px;
    }

    .regularContent {
    color: white;
    background-color: rgba(0,0,0,0.55);
    text-align: left;
    font-family: 'Calibri','Arial';
    font-size: 17px;
    line-height: 24px;
    padding: 20px 17px;
    margin:0;
    } 
  }

/*centralize the book mark me button when the window is wider than 768px*/
  @media (min-width: 768px) {
    .fa-home {
      margin-left: -38px;
    } 

    #BusStopSearchBlankStyle {
      width: 25%;
    }

    #BusStopSearchButtonStyle {
      width: 12%;
    }   
  }