<!DOCTYPE html>
<html lang="en" ng-app="busApp">
<head>
	<title>BusTimeSG</title>
	<meta charset="utf-8">
	<meta name="keywords" content="bus arrival, bus arrival time, bus arrival timing, bus time, bus timing, Singapore"/>
	<meta name="description" content="BusTimeSG is a convenient app that provides intuitive bus arrival information in Singapore."/>
	<meta name="robots" content="index, follow"/>

	<!-- mobile configuration -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile configuration end-->

	<!-- cache control -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<!-- cache control end -->
	
	<!-- styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- styles end-->

    <!-- scirpts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

    <script src="https://code.angularjs.org/1.6.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.8/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.6.8/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.6.8/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.6.8/angular-animate.min.js"></script>
    <script src="script/app.js"></script>
    <!-- scirpts end-->
</head>

<body ng-controller="bodyCtrl" class="header-default">

<div ng-if="ready" ng-class="area" id="backgrouundStyle" class="animateFadeIn"></div>

<nav class="navbar navbar-inverse sticky">
	<div class="container-fluid">
		<!-- the logo and the folded menu bar -->
		<div class="navbar-header">

			<div class="headerCentral">
				<span class="centralButton" ng-click="go('/')"><i class="fas fa-home" style="font-size: 1.3em; -ms-transform: translate(0px, 1px);-webkit-transform: translate(0px, 1px); transform: translate(0px, 1px);"></i>&nbspHome</span>&nbsp&nbsp|&nbsp&nbsp<span class="centralButton" ng-click="refresh()"><i class="fas fa-sync"></i>&nbspRefresh</span>
			</div>

			<script type="text/javascript">
			function addBookmark(url, title){
			if (!url) {url = window.location}
			    if (!title) {title = document.title}
			    var browser=navigator.userAgent.toLowerCase();
			    if (window.sidebar) { // Mozilla, Firefox, Netscape
			        window.sidebar.addPanel(title, url,"");
			    } else if( window.external) { // IE or chrome
			        if (browser.indexOf('chrome')==-1){ // ie
			            window.external.AddFavorite( url, title);
			        } else { // chrome
			            alert('Please click \'Bookmark This Page\'.');
			        }
			    }
			    else if(window.opera && window.print) { // Opera - automatically adds to sidebar if rel=sidebar in the tag
			        return true;
			    }
			    else if (browser.indexOf('konqueror')!=-1) { // Konqueror
			        alert('Please click \'Add Bookmark\'.');
			    }
			    else if (browser.indexOf('webkit')!=-1){ // safari
			        alert('Please click \'Bookmark This Page\' or \'Add Bookmark\'.');
			    } else {
			        alert('Please add this link manually.')
			    }
			}
			</script>

			<div style="position: absolute; left:14px; top:13px;" >
			<span class="centralButton" onclick="addBookmark('https://www.lituokobe.com/app/bustimesg', 'BusTimeSG');"><i class="far fa-bookmark " style="font-size: 1.3em"></i></span>
			</div>			
			
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- the logo and the folded menu bar end-->

		<!-- The actual content of the menu -->
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#!/about" data-toggle="collapse" data-target="#myNavbar">About</a></li>
				<li><a href="#!/information" data-toggle="collapse" data-target="#myNavbar">Information</a></li>
				<li><a href="#!/specialthanks" data-toggle="collapse" data-target="#myNavbar">Special Thanks</a></li>
			</ul>
		</div>
		<!-- The actual content of the menu end-->	
	</div>
</nav>

<div style="width: 100%; height: 40px;"></div>

<ng-view>

</body>
</html>